@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/*  Typography  ======================== */
body {
  background: #fefefe;
  margin: 0;
  padding: 0;
  font: 16px/1.2 'Comfortaa', cursive;
}

input:focus, button:focus {
  outline: none;
}

p {
  margin: 0 0 10px;
}

.h1 {
  font-size: 26px;
  margin: 0 0 20px;
}

.h2 {
  font-size: 22px;
  margin: 0 0 20px;
}

.link {
  color: #0091ea;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.link_switch {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.link_switch:hover {
  border-bottom: medium none;
}

/*  End Typography  ======================== */


/*  Global blocks  ======================== */
.container {
  width: 980px;
  margin: 0 auto;
}

.button {
  background: url(images/button-l.png) no-repeat 0 0;
  box-sizing: border-box;
  width: 200px;
  border: 0;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  font: 14px/40px 'Comfortaa', cursive;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.button-s {background-image: url(images/button-s.png); width: 100px;}
.button-m {background-image: url(images/button-m.png); width: 150px;}

.button:hover {
  background-position: 0 -50px;
}

.button-counter {
  background: no-repeat 0 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.button-counter:hover {
  background-position: 0 -40px;
}

.button-counter_plus {background-image: url(images/plus.png);}
.button-counter_minus {background-image: url(images/minus.png);}

.input {
  border: 0;
  background: url(images/input-l.png) no-repeat 0 0;
  padding: 0 15px;
  width: 200px;
  height: 40px;
  font: 16px/40px 'Comfortaa', cursive;
  box-sizing: border-box;
}

.input:focus {
   outline: none;
}

.form-padding {
  padding: 20px;
}

.form-actions {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.progress {
  box-sizing: border-box;
  width: 250px;
  height: 30px;
  padding: 3px 4px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}

.progress:after {
  content: '';
  background: url(images/progress.png) no-repeat 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.progress__percentage {
  background-color: #000;
  width: 0;
  height: 24px;
  transition: width 0.3s ease;
}

.progress__value {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 30px;
  text-align: center;
}

.icon-stat {
  background: no-repeat 0 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.icon-stat_analyze {background-image: url(images/icon-analyze.png);}
.icon-stat_prog {background-image: url(images/icon-prog.png);}
.icon-stat_test {background-image: url(images/icon-test.png);}

/*  End Global blocks  ======================== */

/*  Components  ======================== */
.cube {
  background: #EEEEEE;
  box-sizing: border-box;
  position: relative;
}

.cube:before, .cube:after {
  content: '';
  position: absolute;
}

.cube:before {
  background-color: #FAFAFA;
  width: 10px;
  height: 100%;
  left: 100%;
  top: 5px;
  transform: skewY(45deg);
}

.cube:after {
  background-color: #E0E0E0;
  width: 100%;
  height: 10px;
  left: 5px;
  top: 100%;
  transform: skewX(45deg);
}

.separate {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 15px 0;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup_login {
  width: 460px;
}

.popup_char {
  width: 600px;
}

/*  End Components  ======================== */

/*  Form login  ======================== */
.login-grid {
  display: flex;
  justify-content: space-between;
}
/*  End Form login  ======================== */

/*  Create char  ======================== */

.create-char__subtitle {
  color: #666;
  font-size: 14px;
  margin-top: -10px;
}

.params-list {
  display: flex;
}

.params-list__item {
  text-align: center;
  margin-right: 50px;
}

.param-item {
  margin-bottom: 10px;
  font-size: 14px;
}

.param-item__name {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 0 8px;
}

.param-value {
  background: url(images/stat.png) no-repeat 0 0;
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
}

.param-value_big {
  width: 50px;
  height: 50px;
  line-height: 56px;
  font-size: 30px;
}
/*  End Create char  ======================== */


/*  Game  ======================== */
.game {
  padding-left: 300px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.game-board {
  margin: 0 50px 30px;
}

.game-logs {
  width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
/*  End Game  ======================== */

/*  Entity  ======================== */
.entity {
  margin: 10px;
}

.entity__info {
  padding-left: 140px;
  position: relative;
}

.entity__info_project {
  padding-left: 0;
  padding-right: 140px;
}

.entity__image {
  background: url(images/char-1.png) no-repeat 0 0;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.entity__image_rating {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
}

.entity__image_1 {background-image: url(images/char-1.png);}
.entity__image_2 {background-image: url(images/char-2.png);}
.entity__image_3 {background-image: url(images/char-3.png);}

.entity__image:after {
  content: '';
  background: url(images/char-mask.png) no-repeat 0 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.entity__image_project {
  background-image: url(images/project.png);
  border-radius: medium none;
  left: auto;
  right: 0;
}

.entity__image_project:after {
  background-image: url(images/project-mask.png);
}

.entity__name {
  margin-bottom: 10px;
}

.entity__row {
  margin-bottom: 10px;
  position: relative;
}

.entity__stat {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 30px;
}

.entity__stat-value {
  margin-top: 5px;
  font-weight: bold;
}

.entity__stat-project {
  position: absolute;
  margin: -5px 0 0 -50px;
}

.entity__level {
  position: absolute;
  display: inline-block;
  width: 30px;
  margin-left: -35px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.sleep-button {
  background: url(images/icon-sleep.png) no-repeat 0 0;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  margin: -5px 0 0 10px;
  cursor: pointer;
}

.effects {
  position: absolute;
  bottom: 0;
  left: 0;
}

.effect {
  background: no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-left: -10px;
}

.effect_coffee {background-image: url(images/effect-coffee.png);}
.effect_fish {background-image: url(images/effect-fish.png);}
.effect_meetup {background-image: url(images/effect-meetup.png);}
.effect_money {background-image: url(images/effect-money.png);}
.effect_net {background-image: url(images/effect-net.png);}
.effect_pizza {background-image: url(images/effect-pizza.png);}
.effect_stand {background-image: url(images/effect-stand.png);}
.effect_mac {background-image: url(images/effects-mac.png);}

/*  End Entity  ======================== */

/*  Board  ======================== */
.board {
  display: flex;
}

.board__col {
  box-sizing: border-box;
  width: 20%;
  border-left: 3px solid #666;
}

.board__col:first-child {
  border-left: medium none;
}

.board__title {
  background: url(images/board-title-todo.png) no-repeat 0 0;
  background-size: 100% 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 3px solid #666;
}

.board__title_todo {background-image: url(images/board-title-todo.png);}
.board__title_analyze {background-image: url(images/board-title-analyze.png);}
.board__title_prog {background-image: url(images/board-title-prog.png);}
.board__title_test {background-image: url(images/board-title-test.png);}
.board__title_released {background-image: url(images/board-title-released.png);}

.board__content {
  padding: 10px;
}

.sticker {
  background: url(images/sticker-todo.png) no-repeat 0 0;
  background-size: cover;
  box-sizing: border-box;
  width: 120px;
  height: 112px;
  padding: 12px;
  margin-bottom: 5px;
  font-size: 10px;
  position: relative;
}

.sticker_todo {background-image: url(images/sticker-todo.png);}
.sticker_analyze {background-image: url(images/sticker-analyze.png);}
.sticker_prog {background-image: url(images/sticker-prog.png);}
.sticker_test {background-image: url(images/sticker-test.png);}
.sticker_released {background-image: url(images/sticker-released.png);}

.sticker:after {
  content: '';
  background: url(images/pin.png) no-repeat 0 0;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  left: 50%;
}

.sleep {
  background: url(images/relax.png) no-repeat 0 0;
  width: 400px;
  height: 242px;
  margin: 0 auto;
  position: relative;
}

.sleep:after {
  content: '';
  background: url(images/sleep.gif) no-repeat 0 0;
  width: 100px;
  height: 50px;
  position: absolute;
  top: -30px;
  left: 170px;
}
/*  End Board  ======================== */

/*  Logs  ======================== */
.logs {
  box-sizing: border-box;
  overflow-y: auto;
  color: #fff;
  font-family: 'Ubuntu Mono', monospace;
  padding: 5px;
  height: 100%;
  font-size: 14px;
}
/*  End Logs  ======================== */

/*  Rating  ======================== */
.rating-container {
  width: 800px;
  margin: 20px auto;
}

.rating-container .separate {
  margin: 0;
}

.rating-row {
  display: flex;
}

.rating-row_head {
  border-bottom: 2px solid #333;
}

.rating-row_head .rating-col {
  padding: 5px;
}

.rating-col {
  box-sizing: border-box;
  padding: 5px;
}

.rating-col_place {width: 90px; text-align: center; padding-top: 30px;}
.rating-col_char {width: 270px;}
.rating-col_image {width: 70px;}
.rating-col_name {width: 200px; padding-top: 30px;}
.rating-col_level {width: 120px; text-align: center; padding-top: 30px;}
.rating-col_skills {width: 200px;}

.rating-skills {
  display: flex;
  width: 180px;
  justify-content: space-around;
  text-align: center;
}
/*  End Rating  ======================== */
