@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/*  Typography  ======================== */
body {
  background: #fefefe;
  margin: 0;
  padding: 0;
  font: 16px/1.2 'Comfortaa', cursive;
}

input:focus, button:focus {
  outline: none;
}

p {
  margin: 0 0 10px;
}

.h1 {
  font-size: 26px;
  margin: 0 0 20px;
}

.h2 {
  font-size: 22px;
  margin: 0 0 20px;
}

.link {
  color: #0091ea;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.link_switch {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.link_switch:hover {
  border-bottom: medium none;
}

/*  End Typography  ======================== */


/*  Global blocks  ======================== */
.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  background: url(images/button.png) no-repeat 0 0;
  box-sizing: border-box;
  width: 200px;
  border: 0;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  font: 14px/36px 'Comfortaa', cursive;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-image: url(images/button-hover.png);
}

.button-counter {
  background: no-repeat 0 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.button-counter:hover {
  background-position: 0 -40px;
}

.button-counter_plus {background-image: url(images/plus.png);}
.button-counter_minus {background-image: url(images/minus.png);}

.input {
  border: 0;
  background: url(images/input.png) no-repeat 0 0;
  padding: 0 15px;
  width: 200px;
  height: 36px;
  font: 16px/36px 'Comfortaa', cursive;
  box-sizing: border-box;
}

.input:focus {
   outline: none;
}

.form-padding {
  padding: 20px;
}

.form-actions {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.progress {
  box-sizing: border-box;
  width: 250px;
  height: 30px;
  padding: 3px;
  position: relative;
}

.progress:after {
  content: '';
  background: url(images/progress.png) no-repeat 0 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.progress__value {
  background-color: #000;
  width: 0;
  height: 24px;
  transition: width 0.3s ease;
}

.icon-stat {
  background: no-repeat 0 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.icon-stat_analyze {background-image: url(images/icon-analyze.png);}
.icon-stat_prog {background-image: url(images/icon-prog.png);}
.icon-stat_test {background-image: url(images/icon-test.png);}

/*  End Global blocks  ======================== */

/*  Components  ======================== */
.cube {
  background: #EEEEEE;
  box-sizing: border-box;
  position: relative;
}

.cube:before, .cube:after {
  content: '';
  position: absolute;
}

.cube:before {
  background-color: #FAFAFA;
  width: 10px;
  height: 100%;
  left: 100%;
  top: 5px;
  transform: skewY(45deg);
}

.cube:after {
  background-color: #E0E0E0;
  width: 100%;
  height: 10px;
  left: 5px;
  top: 100%;
  transform: skewX(45deg);
}

.separate {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 15px 0;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup_login {
  width: 460px;
}

.popup_reg {
  width: 800px;
}

/*  End Components  ======================== */

/*  Form login  ======================== */
.login-grid {
  display: flex;
  justify-content: space-between;
}
/*  End Form login  ======================== */

/*  Create char  ======================== */

.create-char__subtitle {
  color: #666;
  font-size: 14px;
  margin-top: -10px;
}

.params-list {
  display: flex;
  justify-content: space-around;
}

.params-list__item {
  width: 45%;
}

.param-item {
  margin-bottom: 10px;
  font-size: 14px;
}

.param-item__name {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin: 0 8px;
}

.param-value {
  background-color: #D32F2F;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align : center;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.param-value_big {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}
/*  End Create char  ======================== */


/*  Game  ======================== */
.game-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.game-board {
  margin: 0 100px 30px;
}
/*  End Game  ======================== */

/*  Entity  ======================== */
.entity {
  margin: 20px;
}

.entity__info {
  padding-left: 140px;
  position: relative;
}

.entity__info_project {
  padding-left: 0;
  padding-right: 140px;
}

.entity__image {
  background: url(images/avatar.png) no-repeat 50% 50%;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.entity__image:after {
  content: '';
  background: url(images/avatar-mask.png) no-repeat 50% 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.entity__image_project {
  border-radius: medium none;
  left: auto;
  right: 0;
}

.entity__image_project:after {
  background-image: url(images/project-mask.png);
}

.entity__name {
  margin-bottom: 10px;
}

.entity__row {
  margin-bottom: 10px;
}

.entity__stat {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 30px;
}

.entity__stat-value {
  margin-top: 5px;
  font-weight: bold;
}

.entity__stat-project {
  position: absolute;
  margin: -5px 0 0 -50px;
}

.entity__level {
  position: absolute;
  display: inline-block;
  width: 30px;
  margin-left: -35px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

/*  End Entity  ======================== */

/*  Board  ======================== */
.board {
  display: flex;
}

.board__col {
  box-sizing: border-box;
  width: 20%;
  border-left: 3px solid #666;
}

.board__col:first-child {
  border-left: medium none;
}

.board__title {
  background: url(images/board-title-todo.png) no-repeat 0 0;
  background-size: 100% 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 3px solid #666;
}

.board__title_todo {background-image: url(images/board-title-todo.png);}
.board__title_analyze {background-image: url(images/board-title-analyze.png);}
.board__title_prog {background-image: url(images/board-title-prog.png);}
.board__title_test {background-image: url(images/board-title-test.png);}
.board__title_released {background-image: url(images/board-title-released.png);}

.board__content {
  padding: 10px;
}

.sticker {
  background: url(images/sticker-todo.png) no-repeat 0 0;
  background-size: cover;
  box-sizing: border-box;
  width: 120px;
  height: 112px;
  padding: 12px;
  margin-bottom: 5px;
  font-size: 10px;
  position: relative;
}

.sticker_todo {background-image: url(images/sticker-todo.png);}
.sticker_analyze {background-image: url(images/sticker-analyze.png);}
.sticker_prog {background-image: url(images/sticker-prog.png);}
.sticker_test {background-image: url(images/sticker-test.png);}
.sticker_released {background-image: url(images/sticker-released.png);}

.sticker:after {
  content: '';
  background: url(images/pin.png) no-repeat 0 0;
  background-size: cover;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  left: 50%;
}
/*  End Board  ======================== */
